.topic-score{
  width: 10%;
  margin-left:20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-desc{
  width: 90%;
  margin: auto;
  padding: 10px;
}

.timestamp{
  margin-top: 8px;
  font-size: small;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:20vw;
  /* background-color: yellow; */
}
.title {
  font-size: large;
  color: black;
  font-weight: bold;
}


.date{
  margin-left: 5px;
  color: black;
  font-weight: bold;
}
.topic-delete button{
  margin-top:10px;
  margin-left:10px;
  width:5vw;
  padding: 3px 0px;
}

.topic-container{
  display:flex;
  width:80vw;
  /* background-color: yellow; */
  justify-content: space-between;
}
.topic-delete button:hover{
  background-color: red;
  cursor: pointer;
}
.topic-score button:hover{
  cursor: pointer;
}